.container, body{
	width:100%;
	height: 100%;
}

.name_list_box{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.person-card{
	width:auto;
	height: 30%;
	border: 1px solid black;
	margin-right: 35px

}

.card-link{
	text-decoration: none;
	color: black
}

.prof-pic{
	height: 200px;
	width: auto;
	margin: 0 auto;
}

.name-half{
	width: 100%;
	text-align: center;
}