.container{
	position: relative;
	height: 100%
}
.top-box{
	position: relative;
	height: 30%;
}

.prof-pic{
	position: relative;
	height: auto ;
	width: 20%;
	left:70%;
	top: -30%; 
}

#prof-pic{
	width: 100%
}

.label, .text{
	color: black;
	font-size: 1.3em;
	margin: 2%
}

.details-box{
	width: 60%;
	top: 30%;
	position: absolute;
	vertical-align: center;
	left: 5%;
	text-align: center;
	list-style: none
}


.bio-box{
	position: relative;
	height: 40%;
}

#bio-title{
	position: relative;
}

#bio{
	top:-10%;
	position: relative;
	font-size: 1.1em
}

.contact-box{
	position: relative;
	height: 20%;
	text-align: center;
}

.contact-title{
	float: left;
	top: -10%;
	position: relative;
}

.fa{
	position: relative;
	margin: 2.5%;
	left: -10%
}


